<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{$MainTitle}</title>
    {$main_header_metatags}
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="expires" content="900"/>
    {$main_header_sitereload}
    <!--{$main_header_cssfiles}-->
    <!--link rel="stylesheet" type="text/css" href="ext_scripts/niftycube/niftyCorners.css" />
    <link rel="stylesheet" type="text/css" href="design/style.css" /-->
    <link rel="stylesheet" type="text/css" href="design/{$Design}/style.css"/>
    <!--{$main_header_csscode}
    {$main_header_jsfiles}
    <script type="text/javascript" src="ext_scripts/niftycube/niftycube.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    {$main_header_jscode}-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml"/>
</head>

<body onload="BodyOnload(1)" {$MainJS}>
<span id="LSloading" class="loading"></span>
<!--div id="Logo">{$MainLogo}</div-->
<!--div id="DateLogout">{$smarty.now|date_format:"%d.%m.%Y"} | {$MainLogout}</div-->
<!--div id="Banner"> BEAMER TEMPLATE - NOT FOR STANDARD USE <br/> OPTIMIZED FOR FULLSCREEN MODE </div-->
<header id="Mainheader">
    <img id="Logo" src="design/jku-lan-simple/images/jku-lan_logo.png" alt="JKU LAN Logo" title="JKU LAN"/>
    <h1 id="Pagetitle">JKU LAN</h1>
    <img id="Emblem" src="design/jku-lan-simple/images/oeh-informatik_emblem.png" alt="JKU LAN Logo"
         alt="ÖH JKU StV Informatik Emblem" title="StV Informatik"/>
    <div class="clearfix"></div>
</header>

<!--div id="BoxesLeft">{$MainLeftBox}</div-->
<main id="{$MainContentStyleID}">
    {$MainFrameworkmessages}
    {$MainContent}
    {$MainDebug}
</main>
<!--div id="BoxesRight">{$MainRightBox}</div-->

<!-- banner not loading in Fullscreenmode -- div id="Sponsors"><p class="hack">Hauptsponsor der JKU LAN VIII:</p>
    {$MainBanner}
</div-->
</body>
</html>