/* --reseting browser defaults -- */
html, body {
  font-size: 12px;
  margin: 0;
  background: rgb(0, 156, 179);
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
