/*
Lansuite Style-Definitions JKU LAN simple
*/
$BoxesLeftWidth: 250px;
$BoxesRightWidth: 180px;
$ColumnesMargin: 20px;

$barShadowSize: 16px;

@import 'functions';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'colors';
@import 'dev_overrides';
/* font-family: 'Roboto Condensed', sans-serif; */
* {
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  float: none;
  clear: both;
}

/* -- Main Layout definitions */
#DateLogout {
  padding: 0.2em 0;
  background: rgb(255, 255, 255);
  text-align: right;
  font-size: 0.9em;
}

#LansuiteFullscreen {
  position: relative;
  font-size: 0.9em;
  background: $colSecL;
}

#Mainbar {
  position: fixed;
  /*float: left;*/
  left: 0;
  top: 0;
  margin: 0;
  width: $BoxesLeftWidth;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  background: $colPrimD1;

  &::after {
    content: '';
    position: absolute;
    right: -1*$barShadowSize;
    top: 0;
    height: 100%;
    width: $barShadowSize;
    display: block;

    @include linear-gradient(to right, $colShadows1, transparent);
  }
}

header {
  margin: 1.21em 10px;
}

#Pagelogo {
  width: $BoxesLeftWidth - 20px;
  margin: 0;
  border: 0 none;
}

#Pagetitle {
  /*float: left;*/
  margin: 0.2em;
  text-align: center;
  color: $colSecL;

  h1 {
    font-family: 'Roboto Condensed', sans-serfi;
    font-size: 5rem;
    font-weight: 100;
    line-height: 1;
    padding: 0;
    text-shadow: -2px 2px $colPrimD2;
  }

  p {
    font-size: 1.2rem;
    padding: 0;
    text-shadow: -2px 2px $colPrimD2;
  }
}

@media screen and (max-width: 900px) {
  header {
    display: none
  }
}

#BoxesLeft {
  width: 250px;
  padding: 0;
}

.wrapped {
  margin-left: 250px;
}

#Sponsors {
  background: $colPrimL1;
  text-align: right;
  padding: 1em 1.2em;

  a {
    display: inline-block;
    font-size: 0;
  }

  img {
    max-height: 100%;
  }
}

#ContentFullscreen { //TODO
  margin: 0px 2px 10px 2px;
  padding: 8px 4px 10px 8px;
  background: #eee6e6;
}

#Contentwrapper {
  padding: 2em $ColumnesMargin 3em;
  background: $colSecL;

  & > main {
    margin-right: $BoxesRightWidth + $ColumnesMargin;
  }
}

#BoxesRight {
  float: right;
  //  position: relative;
  //top: 0;
  width: $BoxesRightWidth;
  margin-left: $ColumnesMargin;
  background: $colPrimL1;
}

#Pagefooter {
  position: relative;
  min-height: 120px;
  background: $cPrim;
  color: $colSecL;
  text-align: center;

  &::before {
    content: '';
    position: relative;
    top: 0;
    height: $barShadowSize;
    width: 100%;
    display: block;

    @include linear-gradient(to bottom, $colShadows1, transparent);
  }

  a, a:link, a:visited, a:active {
    color: rgb(49, 76, 182); //TODO
  }

  a:hover {
    /*
        color: rgb(255, 200, 87);
    */
  }
}

div#tabs {
  background: #eee6e6;
}

/* Links */
a, a:link, a:visited, a:active {
  color: $colSecL;
  text-decoration: none;
}

a.admin, a.admin:link, a.admin:visited, a.admin:active {
  color: rgb(143, 45, 86); //TODO
}

a:hover, a.admin:hover {
  color: rgb(255, 200, 87); //TODO
  text-decoration: underline;
}

/* Boxes */
.Box {
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  word-wrap: break-word;
  width: 100%;
}

.BoxHeadline {
  margin: 0;
  border-bottom: 1px solid $colPrimD1;
  padding: 4px 4px 4px 8px;
  background: $cPrim;
  text-shadow: 1px -1px $colPrimD1;
  font-size: 1em;
  font-weight: bold;
  list-style: none;
  white-space: nowrap;
}

.BoxHeadline li, .BoxHeadline a {
  color: rgb(255, 255, 255);
  text-shadow: 1px -1px rgb(0, 109, 125);
  text-decoration: none;
  list-style: none;
  display: inline-block;

}

.BoxCaption {
  width: 144px;
}

.BoxHelpClose a:hover {
  color: #ffc857;
}

ul.BoxContent {
  padding: 4px 4px 4px 8px;
  background: rgba(0, 156, 179, .2);
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  color: rgb(0, 0, 0);
}

li.box_entry, li.box_entry_active {
  margin: 0;
  padding: 1px 0 2px 16px;
  background-position: 0 2px;
}

span.AdminIcons {
  background-position: 8px 2px;
}

/* == Main Design ==============================*/

.Headline h1 {
  font-size: 2.8em;
  font-family: Righteous, Sans-Serif;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-shadow: 1px -1px rgb(0, 109, 125);
}

#Content .HeadlineSub {
  border-top: 1px solid rgb(0, 109, 125);
  border-bottom: 0 none;
  padding: 0.3em 0 1em;
  font-size: 1.1em;
  color: rgb(0, 109, 125);

}

#Content .Line {
  border: 0 none;
  padding: 1em 0;
}

.row_key, .mastersearch2_search_row_key, .mastersearch2_result_row_key {
  background: rgb(0, 156, 179);
  border-bottom: 1px solid rgb(0, 109, 125);
  color: rgb(255, 255, 255);
  text-shadow: 1px -1px rgb(0, 109, 125);
  font-size: 1em;
  padding: 4px 4px 4px 8px;

}

.row_key a, .mastersearch2_search_row_key a, .mastersearch2_result_row_key a {
  text-shadow: 1px -1px rgb(255, 255, 255);
}

.row_value, .mastersearch2_search_row_value, .mastersearch2_result_row_value, .mastersearch2_search_row_value_highlighted, .mastersearch2_search_row_value_important {
  background: rgba(255, 255, 255, .6);
  /*font-size: 1em;*/
}

#Content .Information {
  background: rgb(255, 200, 87);
}

input, textarea, select {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 156, 179);
  margin: 1px;
}

.form_optional {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, .5);
  border: 1px solid rgb(0, 156, 179);
}

