<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{$MainTitle}</title>
    {$main_header_metatags}
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="expires" content="900"/>
    <meta name="description" content="Lansuite LAN-Party CMS"/>
    <meta name="keywords" content="LAN-Party, LAN, Party, Games"/>
    {$main_header_sitereload}
    <!-- {$main_header_cssfiles} //-->
    <link rel="stylesheet" type="text/css" href="design/{$Design}/style.css"/>
    {$main_header_csscode}

    {$main_header_jsfiles}

    {$main_header_jscode}
    <link rel="shortcut icon" type="image/x-icon" href="jku-lan.ico"/>
    <link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml"/>
    <style type="text/css" rel="stylesheet">
        .clearfix:before, .clearfix:after {
            content: " ";
            display: table;
        }

    </style>
</head>


<body onload="BodyOnload(1)" {$MainJS}>
<div id="container"><a name="top"></a>
    <span id="LSloading" class="loading"></span>

    <header id="header">
        <div class="wrapped">
            <img id="logo" src="design/jku-lan-modern/images/jku-lan_logo.png" alt="JKU LAN Logo"
                 title="JKU LAN Logo">
            <nav id="menu">{$MainLeftBox}</nav>
        </div>
    </header>

    <main id="main">
        <h1 id="title" class="wrapped">JKU LAN</h1>
        <p id="subtitel" class="wrapped">SUBTITLE</p>
        <ul id="breadcrumbs" class="wrapped">
            <li><a href="">BC1</a></li>
            <li>><a href="">BC2</a></li>
        </ul>

        <!--{if $MainContentStyleID == 'ContentFullscreen'}
        <div id="LansuiteFullscreen">{$CloseFullscreen}</div>
        {elseif $DisplayMode != 'popup' && $DisplayMode != 'print'}
        <div id="DateLogout" class="wrapped">
            {$smarty.now|date_format:"%d.%m.%Y"}{if $MainLogout} | {$MainLogout}{/if}
        </div>-->

        <div id="panel">
            <div class="wrapped">
                <div class="fluid-l">
                    <div id="content">
                        <!--main id="{$MainContentStyleID}" class=""-->
                        {$MainFrameworkmessages}

                        {$MainContent}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div id="submenu" class="">
                    <nav class="side">{$MainRightBox}</nav>
                </div>
            </div>
        </div>
    </main>

    <div id="Sponsors" class="wrapped">{$MainBanner}</div>

    {/if}


    {$MainDebug}
    {$EndJS}
</div>
<footer id="footer">
    <div class="wrapper">
        {$Footer}
    </div>
</footer>

</body>
</html>
