/*
Lansuite Style-Definitions for style
'JKU LAN simple' by Alexander Woike
based on 'simple' by Jochen Jung
*/
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Alegreya:700";
* {
  font-family: 'Roboto', sans-serif;
}

pre {
  font-family: 'Roboto Mono', monospace;
}

html, body {
  font-size: 12px;
  margin: 0;
  background: white;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 900px;
  max-width: 1400px;
  margin: 0 auto;
}

.clearfix {
  float: none;
  clear: both;
}

#Sitewrapper {
  background: white;
  padding-bottom: 2em;
}

#DateLogout {
  padding: 0.2em 1em;
  text-align: right;
  font-size: 0.9em;
}

#Mainheader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0;
  background: #006d7d;
  background: #006d7d;
  /* Color fallback */
  background: -o-linear-gradient(to bottom, #006d7d 0%, #009cb3 75%, #006d7d 100%);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, #006d7d 0%, #009cb3 75%, #006d7d 100%);
  background: linear-gradient(to bottom, #006d7d 0%, #009cb3 75%, #006d7d 100%);
}

#Logo {
  height: 180px;
  width: auto;
  float: left;
  margin: -40px 8px;
  border: 0 none;
}

#Emblem {
  height: 180px;
  width: auto;
  float: right;
  margin: -40px 8px;
  border: 0 none;
}

#Pagetitle {
  float: left;
  margin: 0 16px;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  line-height: 100px;
  color: white;
  /**/
}

#Banner {
  position: absolute;
  display: table;
  right: 8px;
  top: 8px;
  overflow: hidden;
  height: 84px;
}
#Banner a {
  display: table-cell;
  vertical-align: middle;
  border: 0 none;
}
#Banner img {
  max-height: 84px !important;
  height: 100%;
  width: auto;
  border: 0 none;
}

#Sitecontent {
  padding: 2em 8px;
}

.content-wrapper {
  margin: auto 196px;
  /* $boxWidth + $boxMargin */
  padding: 1em 16px 3em;
}

#ContentFullscreen {
  margin: 0 2px 10px 2px;
  padding: 8px 4px 10px 8px;
}

#BoxesLeft {
  float: left;
  width: 180px;
}

#BoxesRight {
  float: right;
  width: 180px;
}
#BoxesRight .BoxContent {
  padding: 1em;
}

/* Boxes */
.Box {
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  word-wrap: break-word;
  width: 100%;
}

.BoxHeadline {
  margin: 0;
  border-bottom: 1px solid #006d7d;
  padding: 4px 4px 4px 8px;
  background: #009cb3;
  font-size: 1em;
  font-weight: bold;
  list-style: none;
  white-space: nowrap;
}
.BoxHeadline li, .BoxHeadline a, .BoxHeadline a:link, .BoxHeadline a:visited {
  color: white;
  text-shadow: 1px -1px #006d7d;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.BoxHeadline a:hover, .BoxHeadline a:active {
  color: #ffae00;
  text-decoration: none;
}

.BoxCaption {
  width: 144px;
}

ul.BoxContent {
  padding: 0;
  background: #ccebf0;
  color: black;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

li.box_entry, li.box_entry_active, li.box_entry_lvl_1, li.box_entry_lvl_1_active, span.AdminIcons {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}
li.box_entry a, li.box_entry a:link, li.box_entry a:visited, li.box_entry a:hover, li.box_entry a:active, li.box_entry_active a, li.box_entry_active a:link, li.box_entry_active a:visited, li.box_entry_active a:hover, li.box_entry_active a:active, li.box_entry_lvl_1 a, li.box_entry_lvl_1 a:link, li.box_entry_lvl_1 a:visited, li.box_entry_lvl_1 a:hover, li.box_entry_lvl_1 a:active, li.box_entry_lvl_1_active a, li.box_entry_lvl_1_active a:link, li.box_entry_lvl_1_active a:visited, li.box_entry_lvl_1_active a:hover, li.box_entry_lvl_1_active a:active, span.AdminIcons a, span.AdminIcons a:link, span.AdminIcons a:visited, span.AdminIcons a:hover, span.AdminIcons a:active {
  display: inline-block;
  width: 100%;
  padding: 0.3em 1.4em;
  text-decoration: none;
}
li.box_entry:hover a, li.box_entry:hover a:link, li.box_entry:hover a:visited, li.box_entry:hover a:hover, li.box_entry:hover a:active, li.box_entry_active:hover a, li.box_entry_active:hover a:link, li.box_entry_active:hover a:visited, li.box_entry_active:hover a:hover, li.box_entry_active:hover a:active, li.box_entry_lvl_1:hover a, li.box_entry_lvl_1:hover a:link, li.box_entry_lvl_1:hover a:visited, li.box_entry_lvl_1:hover a:hover, li.box_entry_lvl_1:hover a:active, li.box_entry_lvl_1_active:hover a, li.box_entry_lvl_1_active:hover a:link, li.box_entry_lvl_1_active:hover a:visited, li.box_entry_lvl_1_active:hover a:hover, li.box_entry_lvl_1_active:hover a:active, span.AdminIcons:hover a, span.AdminIcons:hover a:link, span.AdminIcons:hover a:visited, span.AdminIcons:hover a:hover, span.AdminIcons:hover a:active {
  background: #ffae00;
  color: #6f4c00;
}

li.box_entry_lvl_1 a, li.box_entry_lvl_1 a:link, li.box_entry_lvl_1 a:visited, li.box_entry_lvl_1 a:hover, li.box_entry_lvl_1 a:active, li.box_entry_lvl_1_active a, li.box_entry_lvl_1_active a:link, li.box_entry_lvl_1_active a:visited, li.box_entry_lvl_1_active a:hover, li.box_entry_lvl_1_active a:active, span.AdminIcons a, span.AdminIcons a:link, span.AdminIcons a:visited, span.AdminIcons a:hover, span.AdminIcons a:active {
  padding-left: 2.8em;
}

a.admin, a.admin:link, a.admin:visited, a.admin:hover, a.admin:active {
  color: #ff1300;
}

li.box_entry_active a, li.box_entry_active a:link, li.box_entry_active a:visited, li.box_entry_active a:hover, li.box_entry_active a:active, li.box_entry_lvl_1_active a, li.box_entry_lvl_1_active a:link, li.box_entry_lvl_1_active a:visited, li.box_entry_lvl_1_active a:hover, li.box_entry_lvl_1_active a:active {
  color: white;
  text-shadow: 0 0 6px #003c44;
}
li.box_entry_active a.admin, li.box_entry_active a.admin:link, li.box_entry_active a.admin:visited, li.box_entry_active a.admin:hover, li.box_entry_active a.admin:active, li.box_entry_lvl_1_active a.admin, li.box_entry_lvl_1_active a.admin:link, li.box_entry_lvl_1_active a.admin:visited, li.box_entry_lvl_1_active a.admin:hover, li.box_entry_lvl_1_active a.admin:active {
  color: white;
  text-shadow: 0 0 6px #6f0800;
}

/* --info popup -- */
a:hover span.infobox {
  top: -0.8em;
  left: 170px;
  width: 100%;
  background: white;
  border: 1px solid #006d7d;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  color: #006d7d;
  text-shadow: none;
}
a:hover span.infobox:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -16px;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #006d7d;
}

/* -- Site Footer -- */
#Footer {
  position: relative;
  min-height: 820px;
  margin: 0;
  background: #009cb3;
  color: white;
  text-align: center;
}
#Footer:before {
  content: '';
  position: relative;
  top: 0;
  height: 16px;
  width: 100%;
  margin-bottom: 120px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  /* Color fallback */
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}
#Footer a {
  color: white;
}

#CloseFullscreen {
  text-align: right;
  padding: 0 1em;
  font-size: 0.9em;
}
#CloseFullscreen a {
  color: #006d7d;
}

div#tabs {
  background: #eee6e6;
}

/* Links */
a, a:link, a:visited {
  color: #009cb3;
  text-decoration: none;
}
a:hover, a:active {
  color: #ffae00;
  text-decoration: underline;
}

/* == Main Design == */
.Headline h1 {
  font-size: 2.8em;
  font-weight: bold;
  color: white;
  text-shadow: -1px 1px 3px #006d7d;
}

div.HeadlineSub {
  border: 0 none;
  border-top: 1px solid #009cb3;
  padding: 0.3em 0 1em;
  font-size: 1.1em;
  color: #009cb3;
}

ul.LineFirst, ul.Line {
  clear: none;
  height: auto;
  margin: 0 0 1em;
  border: 0 none;
}
ul.LineFirst > li, ul.Line > li {
  display: inline-block;
  float: none;
  width: 100%;
  margin: 0;
  vertical-align: top;
  padding: 0.2em;
}
ul.LineFirst > li.LineLeftHalf, ul.LineFirst > li.LineRightHalf, ul.Line > li.LineLeftHalf, ul.Line > li.LineRightHalf {
  width: 50%;
}
ul.LineFirst > li.LineLeft, ul.Line > li.LineLeft {
  width: 24%;
}
ul.LineFirst > li.LineRight, ul.Line > li.LineRight {
  width: 75%;
}
ul.LineFirst > li.LineLeftBoard, ul.Line > li.LineLeftBoard {
  width: 14%;
}
ul.LineFirst > li.LineRightBoard, ul.Line > li.LineRightBoard {
  width: 80%;
}
ul.LineFirst > li.Information, ul.Line > li.Information {
  background: #ffc857;
  padding: 1em;
}
ul.LineFirst > li.Confirmation, ul.Line > li.Confirmation {
  background: #99c24d;
  padding: 1em;
}
ul.LineFirst > li.Err, ul.Line > li.Err {
  background: #c24e5b;
  padding: 1em;
}

.row_key, .mastersearch2_search_row_key, .mastersearch2_result_row_key {
  background: #009cb3;
  border-bottom: 1px solid #006d7d;
  color: white;
  text-shadow: 1px -1px #006d7d;
  font-size: 1em;
  padding: 4px 4px 4px 8px;
}

.row_key a, .row_key a:link, .row_key a:visited, .mastersearch2_search_row_key a, .mastersearch2_search_row_key a:link, .mastersearch2_search_row_key a:visited, .mastersearch2_result_row_key a, .mastersearch2_result_row_key a:link, .mastersearch2_result_row_key a:visited {
  color: white;
  text-decoration: underline;
}
.row_key a:hover, .row_key a:active, .mastersearch2_search_row_key a:hover, .mastersearch2_search_row_key a:active, .mastersearch2_result_row_key a:hover, .mastersearch2_result_row_key a:active {
  color: #ffae00;
}

.row_value, .mastersearch2_search_row_value, .mastersearch2_result_row_value, .mastersearch2_search_row_value_highlighted, .mastersearch2_search_row_value_important {
  background: #ccebf0;
  /*font-size: 1em;*/
}

.newspost {
  margin-bottom: 4em;
}
.newspost header {
  position: relative;
  margin-bottom: 26px;
}
.newspost header h2 {
  width: 100%;
  margin-bottom: 2px;
  font-size: 1.8em;
  font-weight: normal;
  padding: 0 60px 0 6px;
  color: #009cb3;
  border-bottom: 1px solid #009cb3;
}
.newspost header .newsicon {
  position: absolute;
  top: 0px;
  right: 8px;
  padding: 0;
  background-color: white;
  overflow: hidden;
}
.newspost .posting {
  position: relative;
  padding: 0 6px;
  margin-bottom: 22px;
}
.newspost .buttons {
  position: absolute;
  right: 6px;
  bottom: -22px;
}
.newspost footer {
  position: relative;
  margin-top: 1em;
  border-top: 1px solid #009cb3;
}
.newspost footer .newsinfo, .newspost footer .comments {
  margin: 0;
  padding-left: 6px;
  font-size: .9em;
  color: #5a5a5a;
}
.newspost footer .user {
  font-weight: bold;
}
.newspost footer .comments {
  position: absolute;
  right: 6px;
  top: 0;
}
.newspost.important header h2 {
  color: #ff7a00;
  border-bottom-color: #ff7a00;
}
.newspost.important footer {
  border-top-color: #ff7a00;
}
.newspost h1 {
  font-size: 2em;
  font-weight: bold;
}
.newspost h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.newspost h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.newspost h4 {
  font-size: 1em;
  font-weight: bold;
}

.ui-helper-clearfix {
  display: inline-block;
}

fieldset[style] {
  clear: none !important;
  min-height: 3em;
  border: 1px dotted #009cb3;
}

input, textarea, select {
  color: black;
  background: white;
  border: 1px solid #009cb3;
  margin: 1px;
}

.form_optional {
  color: black;
  background: #ccebf0;
  border: 1px dotted #009cb3;
}

ol.agb {
  margin: 0;
  padding: 0;
  list-style-type: upper-roman;
  font-weight: bold;
  text-align: justify;
}
ol.agb > li {
  margin: 0 0 1.4em;
}
ol.agb > li > ol {
  margin: 1em 0;
  padding-left: 1em;
  font-weight: normal;
  list-style-type: decimal;
}
ol.agb > li > ol > li {
  margin: 0 0 1em 0;
  text-indent: 1.4em;
}

.buttonPreset, div.Button a, div.Buttons a, input.Button, .buttonPreset:link, div.Button a:link, div.Buttons a:link, input.Button:link, .buttonPreset:visited, div.Button a:visited, div.Buttons a:visited, input.Button:visited {
  background: #ccebf0;
  border: 2px solid #003c44;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #003c44;
}
.buttonPreset:hover, div.Button a:hover, div.Buttons a:hover, input.Button:hover, .buttonPreset:active, div.Button a:active, div.Buttons a:active, input.Button:active {
  background: #ffae00;
  border-color: #6f4c00;
  color: #6f4c00;
}

/*# sourceMappingURL=style.css.map */
