{if $admin_userid}
<b>{$l_admin}:</b>&nbsp;[#{$admin_userid}]
<ul class="usermenubox">
    <li><a href="{$u_switch_userview}">{$l_switch_userview}</a></li>
</ul>{/if}
<b>{$l_user}:</b>&nbsp;[#{$userid}]
<ul class="usermenubox">
    <li>{$username}</li>
    <li><a href="{$mail.url}" class="menu{$mail.notify}">{$l_mail}</a></li>
    {if $ticket}
    <li><a href="{$ticket.url}" class="menu">{$ticket.caption}</a></li>
    {/if}
    <li><a href="{$u_logout}" class="menu">{$l_logout}</a></li>
</ul>
{if $partystatus}<b>{$partystatus.name}:</b>
<ul class="usermenubox">
    <li>{$partystatus.enroll_caption}: {$partystatus.enrolled}
        {if $partystatus.enroll}<br>{$partystatus.enroll}{/if}
    </li>
</ul>{/if}
