/*
Lansuite Style-Definitions for style
'JKU LAN simple' by Alexander Woike
based on 'simple' by Jochen Jung
*/

$boxMargin: 8px;

@import 'functions';
@import 'mixins';
@import 'fonts';
@import 'colors';
//@import '';

* {
  font-family: 'Roboto', sans-serif;
}

pre {
  font-family: 'Roboto Mono', monospace;
}

html, body {
  font-size: 12px;
  margin: 0;
  background: $colPrim;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 900px;
  max-width: 1400px;
  margin: 0 auto;
}

.clearfix {
  float: none;
  clear: both;
}

#Sitewrapper {
  background: $colLightest;
  padding-bottom: 2em;
}

#DateLogout {
  padding: 0.2em 1em;
  text-align: right;
  font-size: 0.9em;
}

#LansuiteFullscreen {
  font-size: 0.9em;
  background: $colDark;
  color: $colLightest;
}

#Mainheader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: visible;
  padding: 0;

  background: $colDark;
  @include linear-gradient(to bottom, $colDark 0%, $colPrim 75%, $colDark 100%);
}

#Logo {
  height: 180px;
  width: auto;
  float: left;
  margin: -40px $boxMargin;
  border: 0 none;
}

#Pagetitle {
  float: left;
  margin: 0 16px;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  line-height: 100px;
  color: $colLightest;
  /**/
}

#Banner {
  position: absolute;
  display: table;
  right: $boxMargin;
  top: 8px;
  overflow: hidden;
  height: 84px;

  a {
    display: table-cell;
    vertical-align: middle;
    border: 0 none;
  }
  img {
    max-height: 84px !important;
    height: 100%;
    width: auto;
    border: 0 none;
  }
}

#Sitecontent {
  padding: 2em $boxMargin;
}

.content-wrapper {
  margin: auto 196px; /* $boxWidth + $boxMargin */
  padding: 1em 16px 3em;
}

#ContentFullscreen {
  margin: 0px 2px 10px 2px; //TODO
  padding: 8px 4px 10px 8px;
  background: #eee6e6;
}

#BoxesLeft {
  float: left;
  width: 180px;
}

#BoxesRight {
  float: right;
  width: 180px;
  .BoxContent{padding: 1em;}
}

/* Boxes */
.Box {
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  word-wrap: break-word;
  width: 100%;
}

.BoxHeadline {
  margin: 0;
  border-bottom: 1px solid $colDark;
  padding: 4px 4px 4px 8px;
  background: $colPrim;
  font-size: 1em;
  font-weight: bold;
  list-style: none;
  white-space: nowrap;

  li, a, a:link, a:visited {
    color: $colLightest;
    text-shadow: 1px -1px $colDark;
    text-decoration: none;
    list-style: none;
    display: inline-block;

  }
  a:hover, a:active {
    color: $colLinkHL;
    text-decoration: none;
  }
}

.BoxCaption {
  width: 144px;
}

.BoxHelpClose a:hover {
  // color: #ffc857;
}

ul.BoxContent {
  padding: 0;
  background: $colLight;
  color: $colDarkest;
  @include rounded-border(0 0 4px 4px);

}

li.box_entry, li.box_entry_active, li.box_entry_lvl_1, li.box_entry_lvl_1_active, span.AdminIcons {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;

  a, a:link, a:visited, a:hover, a:active {
    display: inline-block;
    width: 100%;
    padding: 0.3em 1.4em;
    text-decoration: none;
  }
  &:hover {
    a, a:link, a:visited, a:hover, a:active {
      background: $colAccent3;
      color: $colAccent3Darker;
    }
  }
}

li.box_entry_lvl_1, li.box_entry_lvl_1_active, span.AdminIcons {
  a, a:link, a:visited, a:hover, a:active {
    padding-left: 2.8em;
  }
}

a.admin {
  &, &:link, &:visited, &:hover, &:active {
    color: $colAccent1;
  }
}

li.box_entry_active a, li.box_entry_lvl_1_active a {
  &, &:link, &:visited, &:hover, &:active {
    color: $colLightest;
    text-shadow: 0 0 6px $colDarker;

  }
  &.admin {
    &, &:link, &:visited, &:hover, &:active {
      color: $colLightest;
      text-shadow: 0 0 6px $colAccent1Darker;
    }
  }
}

/* --info popup -- */
a:hover span.infobox {
  top: -0.8em;
  left: 170px;
  width: 100%;
  background: $colLightest;
  border: 1px solid $colDark;
  @include rounded-border(0 5px 5px 5px);
  color: $colDark;
  text-shadow: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -16px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: $colDark;
  }
}

/* -- Site Footer -- */
#Footer {
  position: relative;
  min-height: 220px;
  margin: 0;
  color: white;
  text-align: center;

  &:before {
    content: '';
    position: relative;
    top: 0;
    height: 16px;
    width: 100%;
    margin-bottom: 120px;
    display: block;

    background: rgba(0, 0, 0, 0.3);
    @include linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  }
}

div#tabs {
  background: #eee6e6;
}

/* Links */
a {
  & {
    &, &:link, &:visited {
      color: $colLink;
      text-decoration: none;
    }
    &:hover, &:active {
      color: $colLinkHL;
      text-decoration: underline;
    }
  }
}

/* == Main Design == */

.Headline h1 {
  font-size: 2.8em;
  /*font-family: 'Righteous', Sans-Serif;*/
  font-family: 'Alegreya', serif;
  font-weight: bold;
  color: $colLightest;
  text-shadow: 0 0 4px $colDarker;
}

div.HeadlineSub {
  border-top: 1px solid $colDark;
  border-bottom: 0 none;
  padding: 0.3em 0 1em;
  font-size: 1.1em;
  color: $colDark;

}

ul.LineFirst, ul.Line {
  clear: none;
  height: auto;
  margin: 0 0 1em;
  border: 0 none;

  & > li {
    display: inline-block;
    float: none;
    width: 100%;
    margin: 0;
    vertical-align: top;
    padding: 0.2em;

    &.LineLeftHalf, &.LineRightHalf {
      width: 50%;
    }

    &.LineLeft {
      width: 24%;
    }

    &.LineRight {
      width: 75%
    }

    &.Information {
      background: $colInformation;
      padding: 1em;
    }
    &.Confirmation {
      background: $colConfirmation;
      padding: 1em;
    }
    &.Err {
      background: $colError;
      padding: 1em;
    }
  }
}

.row_key, .mastersearch2_search_row_key, .mastersearch2_result_row_key {
  background: $colPrim;
  border-bottom: 1px solid $colDark;
  color: $colLightest;
  text-shadow: 1px -1px $colDark;
  font-size: 1em;
  padding: 4px 4px 4px 8px;

}

.row_key, .mastersearch2_search_row_key, .mastersearch2_result_row_key {
  a, a:link, a:visited {
    color: $colLightest;
    text-decoration: underline;

  }
  a:hover, a:active {
    color: $colLinkMenuHL;
  }
}

.row_value, .mastersearch2_search_row_value, .mastersearch2_result_row_value, .mastersearch2_search_row_value_highlighted, .mastersearch2_search_row_value_important {
  background: $colLight;
  /*font-size: 1em;*/
}

.ui-helper-clearfix {
  display: inline-block;
}

fieldset[style] {
  clear: none !important;
  min-height: 3em;
  border: 1px dotted $colPrim;
}

input, textarea, select {
  color: $colDarkest;
  background: $colLightest;
  border: 1px solid $colPrim;
  margin: 1px;
}

.form_optional {
  color: $colDarkest;
  background: $colPrimLighter;
  border: 1px solid $colPrim;
}

ol.agb {
  margin: 0;
  padding: 0;
  list-style-type: upper-roman;
  font-weight: bold;
  text-align: justify;
  & > li {
    margin: 0 0 1.4em;

    & > ol {
      margin: 1em 0;
      padding-left: 1em;
      font-weight: normal;
      list-style-type: decimal;

      & > li {
        margin: 0 0 1em 0;
        text-indent: 1.4em;
      }
    }
  }
}

.buttonPreset {
  &, &:link, &:visited {
    background: $colLight;
    border: 2px solid $colDarker;
    @include rounded-border(4px);
    color: $colDarker;
  }
  &:hover, &:active {
    background: $colAccent3;
    border-color: $colAccent3Darker;
    color: $colAccent3Darker;
  }
}

div.Button a, div.Buttons a, input.Button {
  @extend .buttonPreset;
}
