// Color variables

// default colors by styleguide:
$colPrim: rgb(0,159,179);
$colSec1: rgb(0,109,125);
$colSec2: rgb(0,0,0);
$colAccM1: rgb(116,165,127);
$colAccM2: rgb(49,76,182);
$colAccM3: rgb(54,241,205);

$colAccI1: rgb(153,194,77);
$colAccI2: rgb(255,200,87);
$colAccI3: rgb(143,45,86);

// original Colors from flyer
$colPrimOrig: rgb(0, 156, 179); // cyan-ish
$colSecOrig:  rgb(223, 195, 0); // ocher

// ===============================
$colCyan: $colPrimOrig;
$colOcher: $colSecOrig;

// greyscales
$colLight1: rgb(240, 240, 240);
$colLight2: rgb(220, 220, 220);
$colMainBG: rgb(128, 128, 128);
$colMedium2: rgb(106, 106, 106);
$colDark1: rgb(70, 70, 70);
$colDark2: rgb(30, 30, 30);

$colShadow: black;

$colNotificationText: rgb(220, 220, 220);
$colText: rgb(70, 70, 70);
$colTextInv: rgb(230, 230, 230);

// image imports
$imgBackground: url('../img/mainbackground.png');
$imgLogo: url('../img/logo_lrg.png');
$imgBanner: url('../img/banner_XXL_lrg.png');