<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>{$MainTitle}</title>

	{$main_header_metatags}
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="900" />  
	<meta name="description" content="Lansuite LAN-Party CMS"/>
	<meta name="keywords" content="LAN-Party, LAN, Party, Games"/>

	{$main_header_sitereload}

	{$main_header_cssfiles}
	<link rel="stylesheet" type="text/css" href="design/{$Design}/style.css" />
	{if $IsMobileBrowser}<link rel="stylesheet" type="text/css" href="design/{$Design}/style_mobile.css" />{/if}

	{$main_header_csscode} 

    <link rel="stylesheet" type="text/css" href="design/jku-lan/css/style.css"/>
    
	{$main_header_jsfiles}
	<script type="text/javascript" src="design/jku-lan/js/jquery.js"></script>
    <script type="text/javascript" src="design/jku-lan/js/dynamics.js"></script>

	{$main_header_jscode}

	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml" />
	<!--[if lte IE 6]>
	<style type="text/css">
		{literal}div#Content { width: 70%; }{/literal}
	</style>
	<![endif]-->
</head>


<body onload="BodyOnload(1)" {$MainJS}>
	<a name="top"></a>
	<span id="LSloading" class="loading"></span>

	{if $MainContentStyleID == 'ContentFullscreen'}
	<div id="LansuiteFullscreen">{$CloseFullscreen}</div>
	{elseif $DisplayMode != 'popup' && $DisplayMode != 'print'}
	<div id="Logo">
		<img src="design/jku-lan/images/jkulan_logo.jpg" alt="JKU LAN Party Logo" title="JKU LAN Party" />
	</div>
	<div id="DateLogout">
		{$smarty.now|date_format:"%d.%m.%Y"}{if $MainLogout} | {$MainLogout}{/if}
	</div>
	<div id="Banner">{$MainBanner}</div>
	{/if}

	<div id="{$MainContentStyleID}">
		{$MainFrameworkmessages}
		{$MainContent}
		<br />
		<div id="Footer">{$Footer}</div>
		{$MainDebug}
	</div>

	<div id="BoxesLeft">
		{$MainLeftBox}
	</div>
	
	{if !$IsMobileBrowser}
	<div id="BoxesRight">
		{$MainRightBox}
	</div>
	{/if}
	
	{$EndJS}


<!-- BEGIN header -->
<header>
    <div id="authbar" class="">{$smarty.now|date_format:"%d.%m.%Y"}{if $MainLogout} | {$MainLogout}{/if}<p class="wrapper">Logged in as <a href="/profile" class="user">Test User</a>.
            Click to <a href="/logout" class=logout">Logout</a></p></div>
    <nav id="navbar" class="">
        <!-- BEGIN nav -->
		<ul class="wrapper">
			<li><a href="index.php">Start</a>
			</li><li><a href="timetable.php">Timetable</a>
			</li><li><a href="tournaments.php">Tournaments</a>
				<ul>
					<li><a href="tournaments.php">Create Tournament</a>
					</li><li><a href="tournaments.php">Join Tounament</a>
					</li><li><a href="tournaments.php">Invite Players</a></li>
				</ul>
			</li><li><a href="chat.php">Chat</a></li>
		</ul>
		<!-- END nav -->
	</nav>
    <div id="bannerbar" class="">
        <div class="wrapper">
            <div id="logo" class="">&nbsp;</div>
            <div id="banner" class="">&nbsp;</div>
        </div>
    </div>
</header>
<!-- END header -->
<!-- BEGIN main header -->
<main class="wrapper">
    <div id="content" class="">
        <hr>
        <ul class="newsfeed">
            <li class="newsitem clearfix">
                <article class="">
                    <img src="img/articleImg.png"/>
                    <h2><a href="article.php">Box Title</a></h2>
                    <p>Box Text oadjfkn idajf adfhfadifhh a fdhf hiuahfh iafhdhafhhui </p></article>
                <hr/>
            </li>
            <li class="newsitem clearfix">
                <article class="">
                    <img src="img/articleImg.png"/>
                    <h2><a href="article.php">Box Title</a></h2>
                    <p>Box Text oadjfkn idajf adfhfadifhh a fdhf hiuahfh iafhdhafhhui </p></article>
                <hr/>
            </li>
            <li class="newsitem clearfix">
                <article class="">
                    <img src="img/articleImg.png"/>
                    <h2><a href="article.php">Box Title</a></h2>
                    <p>Box Text oadjfkn idajf adfhfadifhh a fdhf hiuahfh iafhdhafhhui </p></article>
                <hr/>
            </li>
        </ul>
        <?php //include 'lorem_ipsum.txt'; ?>

    </div>
    <?php //include('templates/sidebar.php'); ?>
    <div class="clearfix"></div>
</main>
<!-- END main --><!-- BEGIN footer -->
<footer>
    <div class="wrapper">

        <ul class="sitemap">
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
        </ul>

        <ul class="sitemap">
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
        </ul>
        <ul class="sitemap">
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
        </ul>
        <ul class="sitemap">
            <li>Sitemap Item</li>
            <li>Sitemap Item</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</footer>
<p class="copyright">© 2016 Woike Alexander</p>
<div id="notification" class="">
    <div class="wrapper"><p>Notfication 1</p>
        <p>Notfication 2</p></div>
</div>
<div id="scrollTop" class="noselect">Scroll Up</div>
<div id="help" class="">help</div>
<!-- END footer -->
</body>
</html>
