/*
Lansuite Style-Definitions for style
'JKU LAN simple' by Alexander Woike
based on 'simple' by Jochen Jung
*/
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "https://fonts.googleapis.com/css?family=Alegreya:700";
* {
  font-family: 'Roboto', sans-serif;
}

pre {
  font-family: 'Roboto Mono', monospace;
}

html, body {
  font-size: 12px;
  margin: 0;
  background: white;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.beamerIframe {
  height: auto;
  width: 100%;
}

/*
.wrapper {
  position: relative;
  width: 100%;
  min-width: 900px;
  max-width: 1400px;
  margin: 0 auto;
}

.clearfix {
  float: none;
  clear: both;
}

#Sitewrapper {
  background: $colLightest;
  padding-bottom: 2em;
}

#DateLogout {
  padding: 0.2em 1em;
  text-align: right;
  font-size: 0.9em;
}

#LansuiteFullscreen {
  font-size: 0.9em;
  background: $colDark;

  a {
    color: $colLightest
  }
}
*/
#Mainheader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0;
  background: #006d7d;
  background: #006d7d;
  /* Color fallback */
  background: -o-linear-gradient(to bottom, #006d7d 0%, #009cb3 75%, #006d7d 100%);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, #006d7d 0%, #009cb3 75%, #006d7d 100%);
  background: linear-gradient(to bottom, #006d7d 0%, #009cb3 75%, #006d7d 100%);
}

#Logo {
  height: 180px;
  width: auto;
  float: left;
  margin: -40px 8px;
  border: 0 none;
}

#Emblem {
  height: 180px;
  width: auto;
  float: right;
  margin: -40px 8px;
  border: 0 none;
}

#Pagetitle {
  float: left;
  margin: 0 16px;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  line-height: 100px;
  color: white;
}

/*
#Banner {
  position: absolute;
  display: table;
  right: $boxMargin;
  top: 8px;
  overflow: hidden;
  height: 84px;

  a {
    display: table-cell;
    vertical-align: middle;
    border: 0 none;
  }
  img {
    max-height: 84px !important;
    height: 100%;
    width: auto;
    border: 0 none;
  }
}

*/
#ContentFullscreen {
  margin: 0;
  padding: 0;
  background: white;
  /* == Main Design == */
}
#ContentFullscreen iframe {
  border: 0 none;
  overflow: hidden !important;
  height: 700px;
}
#ContentFullscreen .Headline h1 {
  font-size: 2.8em;
  font-weight: bold;
  color: white;
  text-shadow: -1px 1px 3px #006d7d;
}
#ContentFullscreen div.HeadlineSub {
  border: 0 none;
  border-top: 1px solid #009cb3;
  padding: 0.3em 0 1em;
  font-size: 1.1em;
  color: #009cb3;
}
#ContentFullscreen ul.LineFirst, #ContentFullscreen ul.Line {
  clear: none;
  height: auto;
  margin: 0;
  border: 0 none;
  padding: 0;
}
#ContentFullscreen ul.LineFirst > li, #ContentFullscreen ul.Line > li {
  display: inline-block;
  float: none;
  width: 100%;
  margin: 0;
  vertical-align: top;
  padding: 0.2em;
}
#ContentFullscreen ul.LineFirst > li.LineLeftHalf, #ContentFullscreen ul.LineFirst > li.LineRightHalf, #ContentFullscreen ul.Line > li.LineLeftHalf, #ContentFullscreen ul.Line > li.LineRightHalf {
  width: 50%;
}
#ContentFullscreen ul.LineFirst > li.LineLeft, #ContentFullscreen ul.Line > li.LineLeft {
  width: 24%;
}
#ContentFullscreen ul.LineFirst > li.LineRight, #ContentFullscreen ul.Line > li.LineRight {
  width: 75%;
}
#ContentFullscreen ul.LineFirst > li.LineLeftBoard, #ContentFullscreen ul.Line > li.LineLeftBoard {
  width: 14%;
}
#ContentFullscreen ul.LineFirst > li.LineRightBoard, #ContentFullscreen ul.Line > li.LineRightBoard {
  width: 80%;
}
#ContentFullscreen ul.LineFirst > li.Information, #ContentFullscreen ul.Line > li.Information {
  background: #ffc857;
  padding: 1em;
}
#ContentFullscreen ul.LineFirst > li.Confirmation, #ContentFullscreen ul.Line > li.Confirmation {
  background: #99c24d;
  padding: 1em;
}
#ContentFullscreen ul.LineFirst > li.Err, #ContentFullscreen ul.Line > li.Err {
  background: #c24e5b;
  padding: 1em;
}

/* -- Beamer Footer -- */
#Sponsors {
  position: absolute;
  bottom: 0;
  min-height: 114px;
  width: 100%;
  margin: 0;
  background: #009cb3;
  color: white;
  text-align: center;
}
#Sponsors:before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  height: 16px;
  width: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  /* Color fallback */
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}
#Sponsors p {
  margin: 0 0 0.1em;
  padding: 0;
}
#Sponsors a {
  color: white;
}
#Sponsors img {
  height: 72px;
  width: auto;
  border: 0 none;
}

/*# sourceMappingURL=style.css.map */
