<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{$MainTitle}</title>
    <meta name="google-site-verification" content="C1VMZ8axQnkXsdhL43XMlrpn58idap9wZR1LxKQ6JyM"/>
    {$main_header_metatags}
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="expires" content="900"/>
    <meta name="description" content="JKU LAN Portal"/>
    <meta name="keywords" content="LAN-Party, LAN, Lanparty, JKU LAN, ÖH, Informatik, Games"/>
    {$facebook_meta_properties}
    {$main_header_sitereload}
    {$main_header_cssfiles}
    <link rel="stylesheet" type="text/css" href="design/{$Design}/css/style.css"/>
    {if $IsMobileBrowser}
    <link rel="stylesheet" type="text/css" href="design/{$Design}/style_mobile.css"/>
    {/if}
    {$main_header_csscode}

    {$main_header_jsfiles}

    {$main_header_jscode}
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml"/>
    <!--[if lte IE 6]>
    <style type="text/css">
        {
            literal
        }
        div#Content {
            width: 70%;
        }

        {
        /
        literal
        }
    </style>
    <![endif]-->
</head>


<body onload="BodyOnload(1)" {$MainJS}>
<a name="top"></a>
<span id="LSloading" class="loading"></span>
<div id="Sitewrapper">
    {if $MainContentStyleID != 'ContentFullscreen' && $DisplayMode != 'popup' && $DisplayMode != 'print'}
    <div id="DateLogout" class="wrapper">
        {$smarty.now|date_format:"%d.%m.%Y"}{if $MainLogout} | {$MainLogout}{/if}
    </div>

    <header id="Mainheader">
        <div class="wrapper">
            <a id="Sitelogo" href="{$url_home}" title="{$lang_home}">
                <h1>JKU LAN</h1></a>
            <a id="Emblem" href="http://informatik.jku.at/students/news"
               alt="Seite der Studienvertretung Informatik" target="_blank"></a>
            <div class="clearfix"></div>
        </div>
    </header>
    {/if}
    <div id="Sitecontent" class="wrapper">

        <aside id="BoxesLeft">{$MainLeftBox}</aside>
        {if !$IsMobileBrowser}
        <aside id="BoxesRight">{$MainRightBox}</aside>
        {/if}

        <main id="{$MainContentStyleID}" class="content-wrapper">
            {$MainFrameworkmessages}

            {$MainContent}
        </main>
        <div class="clearfix"></div>
    </div>
</div>

</div>
{if $MainContentStyleID == 'ContentFullscreen'}
<footer id="CloseFullscreen">{$CloseFullscreen}</footer>
{else}
<footer id="Footer">
    <div class="wrapper">{$Footer}</div>
    <!--{$MainBanner}-->
</footer>
{/if}
{$MainDebug}{$EndJS}
</body>
</html>
